body
{
    background-image: url("imag6.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
}
h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 45px;
    font-style: oblique;
}
#con
{
    filter: alpha(opacity=90);   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    opacity: .9;
    border-style:groove;
    width: 600px ;
    font-size: 25px;
    margin-top: 50px;
    margin-left: auto ;
    margin-right: auto ;
    height:600px;
}
