.box {
    position: relative;
    height: 200px;
    width: 1000px;
    border: 2px solid black;
    margin-left: 300px;
    margin-top: 50px;
}

.innerbox {
    height: 100px;
    width: 200px;
    border: 2px solid black;
    margin-top: 50px;
    margin-left: 400px;
}