.boxupdate {
    height: 600px;
    width: 700px;
    position: relative;
    margin-left: 500px;
    margin-top: 20px;
    border: 2px solid black;
}

.numberbox {
    height: 40px;
    width: 40px;
    border: 2px solid black;
}

.boxelements{
    margin-top: 20px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

p{
    text-align: center;
    font-style: bold;
}
h6{
    font-style: bold;
    font-size: 20px;
}
.boxelements {
    position: relative;
    margin-top: 40px;
}

.btnevent{
    position: relative;
    text-align: center;
    top: 70px;
}
.btn {
    background-color: black;
}